<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">

    <interceptors>
        <class>de.qaware.campus.secpro.web.security.SanitizedInterceptor</class>
    </interceptors>

    <decorators>
        <class>de.qaware.campus.secpro.web.hello.GreetingSecurityDecorator</class>
    </decorators>

</beans>
